body { font-family: 'Open Sans', sans-serif; }

.bannerTop {
    margin: 0px;
    padding: 0px;
    height: 300px;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(banner.jpg);
}

.bottom {margin-bottom: 10px}